.grid {
    width: 400px;
    height: 600px;
    background: url('background.png');
    position: relative;
    font-size: 200px;
    text-align: center;
}

.doodler {
    width: 70px;
    height: 85px;
    background: url('doodler-guy.png');
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background: url('platform.png');
    position: absolute;
}